@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.thank-you-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: clamp(rem(37), 10vw, rem(64));

    margin-bottom: 1rem;
    background: linear-gradient(
      90deg,
      hsl(215, 100%, 70%) 0%,
      hsl(255, 85%, 65%) 50%,
      hsl(290, 60%, 60%) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; // fallback

    background-size: 200% auto;
    animation: gradientMove 3s linear infinite;
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 200% center;
    }
  }

  p {
    font-size: 1.1rem;
    color: hsl(337deg 5% 63%);
    margin-bottom: 0.75rem;

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  button {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
    background: linear-gradient(
      90deg,
      hsl(215, 100%, 70%) 0%,
      hsl(255, 85%, 65%) 50%,
      hsl(290, 60%, 60%) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; // fallback
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #333;
    }
  }
}
