$primary-color: rgb(2 1 255);
$secondary-color: #1a1a1a;
$accent-color: #ffc107;
$background-color: #f9f9f9;
$button-color: rgb(2 1 255);

$font-stack: "Arial", sans-serif;

$break-sm: 600px;
$break-md: 768px;
$break-lg: 1024px;

// $primary-color: rgb(2 1 255);
